In [2]:
# import dependencies
import pandas as pd
import os

## 2016 Data

#### convert csv files to dataframes

In [3]:
Jan2016_df = pd.read_csv('data/2016/JC-20161-citibike-tripdata.csv')
Feb2016_df = pd.read_csv('data/2016/JC-20162-citibike-tripdata.csv')
Mar2016_df = pd.read_csv('data/2016/JC-20163-citibike-tripdata.csv')
Apr2016_df = pd.read_csv('data/2016/JC-201604-citibike-tripdata.csv')
May2016_df = pd.read_csv('data/2016/JC-201605-citibike-tripdata.csv')
Jun2016_df = pd.read_csv('data/2016/JC-201606-citibike-tripdata.csv')
Jul2016_df = pd.read_csv('data/2016/JC-201607-citibike-tripdata.csv')
Aug2016_df = pd.read_csv('data/2016/JC-201608-citibike-tripdata.csv')
Sep2016_df = pd.read_csv('data/2016/JC-201609-citibike-tripdata.csv')
Oct2016_df = pd.read_csv('data/2016/JC-201610-citibike-tripdata.csv')
Nov2016_df = pd.read_csv('data/2016/JC-201611-citibike-tripdata.csv')
Dec2016_df = pd.read_csv('data/2016/JC-201612-citibike-tripdata.csv')

### concatenate dfs
* into quarters
* full year

In [15]:
Q1_2016 = pd.concat([Jan2016_df, Feb2016_df, Mar2016_df], axis=0)
Q2_2016 = pd.concat([Apr2016_df, May2016_df, Jun2016_df], axis=0)
Q3_2016 = pd.concat([Jul2016_df, Aug2016_df, Sep2016_df], axis=0)
Q4_2016 = pd.concat([Oct2016_df, Nov2016_df, Dec2016_df], axis=0)
all_2016 = pd.concat([Q1_2016, Q2_2016, Q3_2016, Q4_2016], axis=0)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15109,557,2016-12-31 23:10:16,2016-12-31 23:19:33,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24465,Subscriber,1981.0,2
15110,2749,2016-12-31 23:29:39,2017-01-01 00:15:29,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24389,Customer,NaN,0
15111,173,2016-12-31 23:44:37,2016-12-31 23:47:31,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24641,Subscriber,1978.0,1
15112,2424,2016-12-31 23:44:50,2017-01-01 00:25:14,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26219,Subscriber,1960.0,2
15113,2419,2016-12-31 23:44:50,2017-01-01 00:25:10,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,Subscriber,1956.0,1

## 2017 Data

#### convert csv files to dataframes

In [17]:
Jan2017_df = pd.read_csv('data/2017/JC-201701-citibike-tripdata.csv')
Feb2017_df = pd.read_csv('data/2017/JC-201702-citibike-tripdata.csv')
Mar2017_df = pd.read_csv('data/2017/JC-201703-citibike-tripdata.csv')
Apr2017_df = pd.read_csv('data/2017/JC-201704-citibike-tripdata.csv')
May2017_df = pd.read_csv('data/2017/JC-201705-citibike-tripdata.csv')
Jun2017_df = pd.read_csv('data/2017/JC-201706-citibike-tripdata.csv')
Jul2017_df = pd.read_csv('data/2017/JC-201707-citibike-tripdata.csv')
Aug2017_df = pd.read_csv('data/2017/JC-201708-citibike-tripdata.csv')
Sep2017_df = pd.read_csv('data/2017/JC-201709-citibike-tripdata.csv')
Oct2017_df = pd.read_csv('data/2017/JC-201710-citibike-tripdata.csv')
Nov2017_df = pd.read_csv('data/2017/JC-201711-citibike-tripdata.csv')
Dec2017_df = pd.read_csv('data/2017/JC-201712-citibike-tripdata.csv')

### concatenate dfs
* into quarters
* full year

In [18]:
Q1_2017 = pd.concat([Jan2017_df, Feb2017_df, Mar2017_df], axis=0)
Q2_2017 = pd.concat([Apr2017_df, May2017_df, Jun2017_df], axis=0)
Q3_2017 = pd.concat([Jul2017_df, Aug2017_df, Sep2017_df], axis=0)
Q4_2017 = pd.concat([Oct2017_df, Nov2017_df, Dec2017_df], axis=0)
all_2017 = pd.concat([Q1_2017, Q2_2017, Q3_2017, Q4_2017], axis=0)

## 2018 Data

#### convert csv files to dataframes

In [20]:
Jan2018_df = pd.read_csv('data/2018/JC-201801-citibike-tripdata.csv')
Feb2018_df = pd.read_csv('data/2018/JC-201802-citibike-tripdata.csv')
Mar2018_df = pd.read_csv('data/2018/JC-201803-citibike-tripdata.csv')
Apr2018_df = pd.read_csv('data/2018/JC-201804-citibike-tripdata.csv')
May2018_df = pd.read_csv('data/2018/JC-201805-citibike-tripdata.csv')
Jun2018_df = pd.read_csv('data/2018/JC-201806-citibike-tripdata.csv')
Jul2018_df = pd.read_csv('data/2018/JC-201807-citibike-tripdata.csv')
Aug2018_df = pd.read_csv('data/2018/JC-201808-citibike-tripdata.csv')
Sep2018_df = pd.read_csv('data/2018/JC-201809-citibike-tripdata.csv')
Oct2018_df = pd.read_csv('data/2018/JC-201810-citibike-tripdata.csv')
Nov2018_df = pd.read_csv('data/2018/JC-201811-citibike-tripdata.csv')
Dec2018_df = pd.read_csv('data/2018/JC-201812-citibike-tripdata.csv')

### concatenate dfs
* into quarters
* full year

In [21]:
Q1_2018 = pd.concat([Jan2018_df, Feb2018_df, Mar2018_df], axis=0)
Q2_2018 = pd.concat([Apr2018_df, May2018_df, Jun2018_df], axis=0)
Q3_2018 = pd.concat([Jul2018_df, Aug2018_df, Sep2018_df], axis=0)
Q4_2018 = pd.concat([Oct2018_df, Nov2018_df, Dec2018_df], axis=0)
all_2018 = pd.concat([Q1_2018, Q2_2018, Q3_2018, Q4_2018], axis=0)

## 2019

#### convert csv files to dataframes

In [22]:
Jan2019_df = pd.read_csv('data/2019/JC-201901-citibike-tripdata.csv')
Feb2019_df = pd.read_csv('data/2019/JC-201902-citibike-tripdata.csv')
Mar2019_df = pd.read_csv('data/2019/JC-201903-citibike-tripdata.csv')
Apr2019_df = pd.read_csv('data/2019/JC-201904-citibike-tripdata.csv')
May2019_df = pd.read_csv('data/2019/JC-201905-citibike-tripdata.csv')
Jun2019_df = pd.read_csv('data/2019/JC-201906-citibike-tripdata.csv')
Jul2019_df = pd.read_csv('data/2019/JC-201907-citibike-tripdata.csv')
Aug2019_df = pd.read_csv('data/2019/JC-201908-citibike-tripdata.csv')
Sep2019_df = pd.read_csv('data/2019/JC-201909-citibike-tripdata.csv')
Oct2019_df = pd.read_csv('data/2019/JC-201910-citibike-tripdata.csv')
Nov2019_df = pd.read_csv('data/2019/JC-201911-citibike-tripdata.csv')
Dec2019_df = pd.read_csv('data/2019/JC-201912-citibike-tripdata.csv')

### concatenate dfs
* into quarters
* full year

In [23]:
Q1_2019 = pd.concat([Jan2019_df, Feb2019_df, Mar2019_df], axis=0)
Q2_2019 = pd.concat([Apr2019_df, May2019_df, Jun2019_df], axis=0)
Q3_2019 = pd.concat([Jul2019_df, Aug2019_df, Sep2019_df], axis=0)
Q4_2019 = pd.concat([Oct2019_df, Nov2019_df, Dec2019_df], axis=0)
all_2019 = pd.concat([Q1_2019, Q2_2019, Q3_2019, Q4_2019], axis=0)

## 2020

#### convert csv files to dataframes

In [24]:
Jan2020_df = pd.read_csv('data/2020/JC-202001-citibike-tripdata.csv')
Feb2020_df = pd.read_csv('data/2020/JC-202002-citibike-tripdata.csv')
Mar2020_df = pd.read_csv('data/2020/JC-202003-citibike-tripdata.csv')
Apr2020_df = pd.read_csv('data/2020/JC-202004-citibike-tripdata.csv')
May2020_df = pd.read_csv('data/2020/JC-202005-citibike-tripdata.csv')
Jun2020_df = pd.read_csv('data/2020/JC-202006-citibike-tripdata.csv')
Jul2020_df = pd.read_csv('data/2020/JC-202007-citibike-tripdata.csv')
Aug2020_df = pd.read_csv('data/2020/JC-202008-citibike-tripdata.csv')
Sep2020_df = pd.read_csv('data/2020/JC-202009-citibike-tripdata.csv')
Oct2020_df = pd.read_csv('data/2020/JC-202010-citibike-tripdata.csv')
Nov2020_df = pd.read_csv('data/2020/JC-202011-citibike-tripdata.csv')
Dec2020_df = pd.read_csv('data/2020/JC-202012-citibike-tripdata.csv')

### concatenate dfs
* into quarters
* full year

In [25]:
Q1_2020 = pd.concat([Jan2020_df, Feb2020_df, Mar2020_df], axis=0)
Q2_2020 = pd.concat([Apr2020_df, May2020_df, Jun2020_df], axis=0)
Q3_2020 = pd.concat([Jul2020_df, Aug2020_df, Sep2020_df], axis=0)
Q4_2020 = pd.concat([Oct2020_df, Nov2020_df, Dec2020_df], axis=0)
all_2020 = pd.concat([Q1_2020, Q2_2020, Q3_2020, Q4_2020], axis=0)

## 2016 to 2020 full data

In [32]:
baker_set_df = pd.concat([all_2016, all_2017, all_2018, all_2019, all_2020], axis=0)
baker_set_df

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,...,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362.0,2016-01-01 00:02:52,2016-01-01 00:08:54,3186.0,Grove St PATH,40.719586,-74.043117,3209.0,Brunswick St,40.724176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200.0,2016-01-01 00:18:22,2016-01-01 00:21:42,3186.0,Grove St PATH,40.719586,-74.043117,3213.0,Van Vorst Park,40.718489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202.0,2016-01-01 00:18:25,2016-01-01 00:21:47,3186.0,Grove St PATH,40.719586,-74.043117,3213.0,Van Vorst Park,40.718489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,248.0,2016-01-01 00:23:13,2016-01-01 00:27:21,3209.0,Brunswick St,40.724176,-74.050656,3203.0,Hamilton Park,40.727596,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,903.0,2016-01-01 01:03:20,2016-01-01 01:18:24,3195.0,Sip Ave,40.730743,-74.063784,3210.0,Pershing Field,40.742677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.728745,-74.032108,3199.0,Newport Pkwy,40.728745,-74.032108,40440.0,Customer,1969.0,0.0
11690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.714145,-74.033552,3195.0,Sip Ave,40.730897,-74.063913,46340.0,Customer,1969.0,0.0
11691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.730897,-74.063913,3270.0,Jersey & 6th St,40.725289,-74.045572,40907.0,Customer,1998.0,1.0
11692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.715178,-74.037683,3199.0,Newport Pkwy,40.728745,-74.032108,42250.0,Customer,1969.0,0.0
11693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.712419,-74.038526,3267.0,Morris Canal,40.712419,-74.038526,48742.0,Subscriber,1982.0,1.0

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,...,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362.0,2016-01-01 00:02:52,2016-01-01 00:08:54,3186.0,Grove St PATH,40.719586,-74.043117,3209.0,Brunswick St,40.724176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200.0,2016-01-01 00:18:22,2016-01-01 00:21:42,3186.0,Grove St PATH,40.719586,-74.043117,3213.0,Van Vorst Park,40.718489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,202.0,2016-01-01 00:18:25,2016-01-01 00:21:47,3186.0,Grove St PATH,40.719586,-74.043117,3213.0,Van Vorst Park,40.718489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,248.0,2016-01-01 00:23:13,2016-01-01 00:27:21,3209.0,Brunswick St,40.724176,-74.050656,3203.0,Hamilton Park,40.727596,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,903.0,2016-01-01 01:03:20,2016-01-01 01:18:24,3195.0,Sip Ave,40.730743,-74.063784,3210.0,Pershing Field,40.742677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## SEASONS

* into seasons starting with spring 2016

In [14]:
spr_2016 = pd.concat([Mar2016_df, Apr2016_df, May2016_df], axis=0)
sum_2016 = pd.concat([Jun2016_df, Jul2016_df, Aug2016_df], axis=0)
fal_2016 = pd.concat([Sep2016_df, Oct2016_df, Nov2016_df], axis=0)
fal_2016

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,254,2016-09-01 00:06:09,2016-09-01 00:10:24,3273,Manila & 1st,40.721651,-74.042884,3203,Hamilton Park,40.727596,-74.044247,26157,Subscriber,1989.0,2
1,119,2016-09-01 00:08:04,2016-09-01 00:10:04,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,24493,Subscriber,1988.0,1
2,425,2016-09-01 00:14:14,2016-09-01 00:21:19,3206,Hilltop,40.731169,-74.057574,3207,Oakland Ave,40.737604,-74.052478,24464,Subscriber,1961.0,1
3,304,2016-09-01 00:15:15,2016-09-01 00:20:20,3220,5 Corners Library,40.734961,-74.059503,3212,Christ Hospital,40.734786,-74.050444,24698,Subscriber,1967.0,1
4,1775,2016-09-01 00:16:37,2016-09-01 00:46:13,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24626,Subscriber,1984.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21827,422,2016-11-30 22:17:45,2016-11-30 22:24:48,3185,City Hall,40.717733,-74.043845,3214,Essex Light Rail,40.712774,-74.036486,24530,Subscriber,1961.0,1
21828,105,2016-11-30 22:38:35,2016-11-30 22:40:20,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,24556,Subscriber,1957.0,1
21829,150,2016-11-30 23:02:50,2016-11-30 23:05:20,3186,Grove St PATH,40.719586,-74.043117,3272,Jersey & 3rd,40.723332,-74.045953,24681,Subscriber,1952.0,1
21830,142,2016-11-30 23:03:04,2016-11-30 23:05:27,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24620,Subscriber,1989.0,1
21831,119,2016-11-30 23:05:40,2016-11-30 23:07:39,3211,Newark Ave,40.721525,-74.046305,3213,Van Vorst Park,40.718489,-74.047727,26161,Subscriber,1986.0,2